<div class="wrapper">
  <div class="content">
    <button class="about-button">О ресторане</button>
    <div>
      <p>В ресторане Вас ждет широкий выбор блюд русской,
        европейской и японской кухни, большой ассортимент
        сигар, редких вин, коньяков и других спиртных напитков
        самого высокого качества.
      </p>
      <p>
        Изысканные блюда от шеф-повара приятно удивят даже
        самых искушенных гурманов, любителям восточной
        экзотики предложат кальян. В ресторане «Пальмира»
        каждый вечер для гостей звучит живая музыка. Особый
        шарм заведению придает веранда на крыше ресторана,
        откуда открывается великолепный вид на озеро и лесные
        холмы.
      </p>
      <p>
        В ресторане «Пальмира» можно организовать
        корпоративные, свадебные вечера, детские праздники и
        другие торжества.
      </p>
    </div>
  </div>
  <img src="assets/img/about_dish.jpg.png" alt="dish" class="background">
</div>
