<div class="q">
  <div id="header">
    <div class="flex">
      <img class="logo-icon" src="assets/img/logo-burger.png" alt="burger-logo" width="50" height="50"/>
      <div class="logo">
        <p class="logo-text">Пальмира</p>
        <p class="logo-text2">лучший ресторан</p>
      </div>
    </div>
    <div class="message"><i>Мы рады встретить Вас домашним комфортом</i></div>
  </div>
  <div class="header2">
    <nav class="header-nav">
      <ul>
        <li><a href="#">Афиша</a></li>
        <li><a href="#">Фотоотчёты</a></li>
        <li><a href="#">Меню</a></li>
        <li><a href="#">Ресторан</a></li>
        <li><a href="#">Караоке</a></li>
        <li><a href="#">Банкеты</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
  </div>
  <div class="mobile-wrapper">
    <input type="checkbox" id="check-menu">
    <label for="check-menu">
      <div>
        <div class="burger-line first"></div>
        <div class="burger-line second"></div>
        <div class="burger-line third"></div>
        <div class="burger-line fourth"></div>
      </div>
      <i>Мы рады встретить Вас домашним комфортом</i>
    </label>

    <nav class="main-menu">
      <a href="#">Афиша</a>
      <a href="#">Фотоотчёты</a>
      <a href="#">Меню</a>
      <a href="#">Ресторан</a>
      <a href="#">Караоке</a>
      <a href="#">Банкеты</a>
      <a href="#">Контакты</a>
    </nav>
  </div>
</div>
